
<!-- navbar secondaire pour la partie Informations -->
<!-- secondary navbar for the Informations part -->
<nav class="bg-slate-100 dark:bg-gray-700">
    <div class="max-w-screen-xl px-4 py-3 mx-auto">
        <div class="flex items-center justify-around">
            <ul class="flex flex-row font-medium mt-0 space-x-8 md:space-x-16">
                <li>
                    <a routerLink="actualites" routerLinkActive="text-black underline" [routerLinkActiveOptions]="{ exact : true }" class="block py-2 px-3 text-black hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-black md:p-0 lg:text-xl">Actualités</a>
                </li>
                <li>
                    <a routerLink="infos" routerLinkActive="text-black underline" [routerLinkActiveOptions]="{ exact : true }" class="block py-2 px-3 text-black hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-black md:p-0 lg:text-xl">Informations</a>
                </li>
                <li>
                    <a routerLink="faq" routerLinkActive="text-black underline" [routerLinkActiveOptions]="{ exact : true }" class="block py-2 px-3 text-black hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-black md:p-0 lg:text-xl">F.A.Q</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>