<div class="mx-6 my-5 md:mx-20 md:my-10 lg:mx-40">
    <!-- Title -->
    <h1 class="font-title text-black text-3xl md:text-5xl uppercase font-extrabold text-center pb-2">F.A.Q</h1> 
    <!-- Accordion block -->  
    @for(faq of this.mappedFaq ; track mappedFaq.id ) {
    <!-- Accordion Item 3 -->
    <div class="border-b border-slate-400 pt-3">
        <button (click)="toggleAccordion(faq.id)" class="w-full flex justify-normal items-center p-1 text-black font-medium font-text text-left">
        <span id="icon-{{ faq.id }}" class="text-slate-800 transition-transform duration-300 mr-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-5 h-5">
            <path d="M8.75 3.75a.75.75 0 0 0-1.5 0v3.5h-3.5a.75.75 0 0 0 0 1.5h3.5v3.5a.75.75 0 0 0 1.5 0v-3.5h3.5a.75.75 0 0 0 0-1.5h-3.5v-3.5Z" />
            </svg>
        </span>
        <span>{{ faq.question }}</span>
        </button>
        <div id="content-{{ faq.id }}" class="max-h-0 overflow-hidden transition-all duration-300 ease-in-out">
        <div class="pb- font-text text-black">
            {{ faq.reponse }}
        </div>
        </div>
    </div>
    }
</div>