<main>
    <div class="mx-20 my-10">
        <!-- Titre -->
        <h1 class="font-title text-black text-3xl md:text-5xl uppercase font-extrabold text-center pb-2">Informations</h1>
        <!-- zone texte -->
        <h2 class="font-title text-3xl font-bold dark:text-white pt-2">Découvrez le Festival Nation Sound</h2>
        <p class="font-text text-base mb-3">Plongez dans l'univers éclectique du festival Nation Sound où cinq scènes distinctes vous offrent une diversité musicale époustouflante : du métal brut au rock enivrant, du rap percutant à la musique du monde envoûtante, et des rythmes électro enivrants. Notre festival est conçu pour satisfaire tous les amateurs de musique, avec des performances de premier plan et des artistes émergents prêts à vous surprendre.

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
            <div class="max-w-md p-5 bg-blue-100 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <h3 class="font-title text-2xl font-bold dark:text-white mb-3"><fa-icon [icon]="faCalendar" class="mr-2"></fa-icon>Dates et Lieu</h3> 
                <p class="font-text text-base mb-3">Le festival se déroulera sur trois jours : Vendredi 5 juillet, Samedi 6 juillet et Dimanche 7 juillet</p>
                <p class="font-text text-base">Le festival aura lieu à la base 217 à Brétigny-sur-oise, un espace vaste et accueillant, offrant des scènes de qualité et des installations confortables pour tous les festivaliers.</p>     
            </div>

            <div class="max-w-md p-5 bg-purple-100 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <h3 class="font-title text-2xl font-bold dark:text-white mb-3"><fa-icon [icon]="faClock" class="mr-2"></fa-icon>Horaires</h3>  
                <p class="font-text text-base mb-3">Le festival ouvre ses portes chaque jour à 12h00 et se termine à 00h00.</p>
                <p class="font-text text-base">Chaque scène a des horaires spécifiques pour offrir une expérience variée et captivante tout au long de la journée.</p>         
            </div>

            <div class="max-w-md p-5 bg-blue-100 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <h3 class="font-title text-2xl font-bold dark:text-white mb-3"><fa-icon [icon]="faTicketAlt" class="mr-2"></fa-icon>Billets</h3> 
                <ul class="font-text text-base list-disc list-inside mb-3">
                    <li>Pass Journée : 50€</li>
                    <li>Pass Week-end (3 jours) : 120€</li>
                    </ul>
                    <p>Les billets sont disponibles en ligne et à la billetterie de la base 217 à Brétigny-sur-oise. Achetez vos billets tôt pour éviter toute déception !</p>       
            </div>

            <div class="max-w-md p-5 bg-purple-100 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <h3 class="font-title text-2xl font-bold dark:text-white mb-3"><fa-icon [icon]="faHotel" class="mr-2"></fa-icon>Hébergement</h3> 
                <p class="font-text text-base">Des options d’hébergement variées sont disponibles à proximité du festival, incluant des hôtels, des auberges et des campings.</p>      
            </div>

            <div class="max-w-md p-5 bg-blue-100 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <h3 class="font-title text-2xl font-bold dark:text-white pt-2"><fa-icon [icon]="faUtensils" class="mr-2"></fa-icon>Restauration</h3> 
                <p class="font-text text-base">Le festival propose une variété de stands de nourriture et de boissons pour satisfaire tous les goûts, incluant des options végétariennes et véganes.</p>    
            </div>

            <div class="max-w-md p-5 bg-purple-100 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <h3 class="font-title text-2xl font-bold dark:text-white pt-2"><fa-icon [icon]="faUniversalAccess" class="mr-2"></fa-icon>Sécurité et Accessibilité</h3> 
                <p class="font-text text-base mb-3">La sécurité de nos festivaliers est notre priorité. Des équipes de sécurité et des services médicaux sont présents sur place.</p>
                <p class="font-text text-base">Le site est également accessible aux personnes à mobilité réduite.</p>    
            </div>

            <div class="max-w-md p-5 bg-blue-100 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <h3 class="font-title text-2xl font-bold dark:text-white pt-2"><fa-icon [icon]="faAddressCard" class="mr-2"></fa-icon>Contact</h3> 
                <p class="font-text text-base mb-3">Pour toute question, n’hésitez pas à nous contacter :</p>
                <p class="font-text text-base mb-3">à info&#64;nationsound.com/p>   
                <p class="font-text text-base">ou au +33 1 23 45 67 89.</p>     
            </div>
        </div>

        <h2 class="font-title text-3xl font-bold dark:text-white pt-5">Les Scènes</h2>
        <p class="font-text text-base mb-3">Cinq scènes distinctes vous offrent une diversité musicale époustouflante : du métal brut au rock enivrant, du rap percutant à la musique du monde envoûtante, et des rythmes électro enivrants. 
        <div class="grid grid-cols-4 gap-4">
            <div class="max-w-md p-5 bg-purple-100 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <h3 class="font-title text-2xl font-bold dark:text-white mb-3"><fa-icon [icon]="faHeadphones" class="mr-2"></fa-icon>Scène Electro</h3>
                <p class="font-text text-base">Dansez au rythme des beats électroniques de DJs et artistes électro de renommée.</p>  
            </div>
            <div class="max-w-md p-5 bg-blue-100 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <h3 class="font-title text-2xl font-bold dark:text-white mb-3"><fa-icon [icon]="faHandRock" class="mr-2"></fa-icon>Scène Metal</h3> 
                <p class="font-text text-base"> Découvrez la puissance brute et les mélodies envoûtantes de groupes de death metal, black metal, et plus encore.</p>
            </div>
            <div class="max-w-md p-5 bg-purple-50 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <h3 class="font-title text-2xl font-bold dark:text-white mb-3"><fa-icon [icon]="faMicrophoneAlt" class="mr-2"></fa-icon>Scène Rap</h3> 
                <p class="font-text text-base">Vivez les performances énergiques de rappeurs et artistes urbains, mêlant paroles percutantes et beats entraînants.</p>  
            </div>
            <div class="max-w-md p-5 bg-blue-100 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <h3 class="font-title text-2xl font-bold dark:text-white mb-3"><fa-icon [icon]="faGuitar" class="mr-2"></fa-icon>Scène Rock</h3> 
                    <p class="font-text text-base">Sentez l’énergie du rock avec des groupes qui vous feront vibrer avec leurs riffs et leurs solos.</p>  
            </div> 
            <div class="max-w-md p-5 bg-purple-100 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <h3 class="font-title text-2xl font-bold dark:text-white mb-3"><fa-icon [icon]="faEarthEurope" class="mr-2"></fa-icon>Scène World Music</h3> 
                    <p class="font-text text-base">Plongez dans les sons du monde avec des performances de musique traditionnelle et contemporaine.</p> 
            </div>

        </div>
 


    </div>
</main>
