<div class="m-20">
    <h1 class="font-title text-5xl font-extrabold text-center pb-2">Informations</h1> 
    <h2 class="font-title text-3xl font-bold dark:text-white pt-2">Découvrez le Festival Metal & More!</h2>
    <p class="text-base">Plongez dans l'univers éclectique du festival Metal & More, où cinq scènes distinctes vous offrent une diversité musicale époustouflante : du métal brut au rock enivrant, du rap percutant à la musique du monde envoûtante, et des rythmes électro enivrants. Notre festival est conçu pour satisfaire tous les amateurs de musique, avec des performances de premier plan et des artistes émergents prêts à vous surprendre.

    <h2 class="font-title text-3xl font-bold dark:text-white pt-2">Dates et Lieu</h2>    
    <p>Le festival se déroulera sur trois jours :
        Vendredi 12 juillet
    Samedi 13 juillet
    Dimanche 14 juillet
    </p>    
    <p>Le festival aura lieu au Parc des Expositions de Villemetal, un espace vaste et accueillant situé au cœur de la ville, offrant des scènes de qualité et des installations confortables pour tous les festivaliers.</p>    
    <h2 class="font-title text-3xl font-bold dark:text-white pt-2">Horaires</h2>    
    <p>Le festival ouvre ses portes chaque jour à 12h00 et se termine à 00h00. Chaque scène a des horaires spécifiques pour offrir une expérience variée et captivante tout au long de la journée.</p>    
    <h2 class="font-title text-3xl font-bold dark:text-white pt-2">Scènes</h2>
        <p>Scène Metal : Découvrez la puissance brute et les mélodies envoûtantes de groupes de death metal, black metal, et plus encore.
    Scène Rap : Vivez les performances énergiques de rappeurs et artistes urbains, mêlant paroles percutantes et beats entraînants.
    Scène World Music : Plongez dans les sons du monde avec des performances de musique traditionnelle et contemporaine.
    Scène Rock : Sentez l’énergie du rock avec des groupes qui vous feront vibrer avec leurs riffs et leurs solos.
    Scène Electro : Dansez au rythme des beats électroniques de DJs et artistes électro de renommée.
    </p>    
    <h2 class="font-title text-3xl font-bold dark:text-white pt-2">Billets</h2>
        <p>Pass Journée : 50€
        Pass Week-end (3 jours) : 120€
        Les billets sont disponibles en ligne et à la billetterie du Parc des Expositions de Villemetal. Achetez vos billets tôt pour éviter toute déception !
    </p>   
    <h2 class="font-title text-3xl font-bold dark:text-white pt-2">Hébergement</h2>    
    <p>Des options d’hébergement variées sont disponibles à proximité du festival, incluant des hôtels, des auberges et des campings. Consultez notre section "Hébergement" pour plus de détails et réservez votre séjour.</p>  
    <h2 class="font-title text-3xl font-bold dark:text-white pt-2">Restauration</h2>    
    <p>Le festival propose une variété de stands de nourriture et de boissons pour satisfaire tous les goûts, incluant des options végétariennes et véganes.</p>    
    <h2 class="font-title text-3xl font-bold dark:text-white pt-2">Sécurité et Accessibilité</h2>    
    <p>La sécurité de nos festivaliers est notre priorité. Des équipes de sécurité et des services médicaux sont présents sur place. Le site est également accessible aux personnes à mobilité réduite.</p>
    <h2 class="font-title text-3xl font-bold dark:text-white pt-2">Contact</h2>
    <p>Pour toute question, n’hésitez pas à nous contacter à info&#64;metal-and-more-festival.com ou au +33 1 23 45 67 89.</p>    
</div>
