<div class="w-full mt-3">
    <swiper-container 
        navigation="true" 
        pagination='{
            "clickable": true,
            "dynamicBullets": true,
            "dynamicMainBullets": 2
        }' 
        autoplay="true"
        lazy="true"
        breakpoints='{
            "320": {
                "slidesPerView": 2,
                "spaceBetween": 5
            },
            "640": {
                "slidesPerView": 3,
                "spaceBetween": 5
            },
            "768": {
                "slidesPerView": 3,
                "spaceBetween": 5
            },
            "1024": {
                "slidesPerView": 4,
                "spaceBetween": 5
            },
            "1280": {
                "slidesPerView": 6,
                "spaceBetween": 5
            }
        }'

        >
        @for(artist of artists$ | async ; track artist.id) {
        <swiper-slide>
            <a [routerLink]="['/artist', artist.id]">
                <div class="w-full bg-transparent hover:bg-amber-100 hover:shadow rounded-3xl transition-all duration-300 grayscale hover:grayscale-0  my-6">
                    <div class="flex flex-col overflow-hidden justify-center items-center">
                        <div class="swiper-lazy-preloader"></div>
                        <img class="swiper-lazy object-cover h-32 w-32 sm:w-40 sm:h-40 md:w-48 md:h-48 lg:w-56 lg:h-56 rounded-full" src="{{ artist.thumbnail }}" alt="{{ artist.name }}" loading="lazy"/>
                        <h5 class="font-text mb-1 text-xl font-medium text-gray-900">{{artist.name}}</h5>
                        <p class="font-text text-sm text-gray-500">{{  artist.type_music }}</p>
                    </div>
                </div>
            </a>
        </swiper-slide>
           }
    </swiper-container>
</div>