<div class="mx-6 my-5 md:mx-20 md:my-10">
    <!-- Partenaires institutionnels -->
    <p class="font-title text-black text-3xl md:text-5xl uppercase font-extrabold text-center pb-2">INSTITUTIONS</p>
    <div class="grid grid-cols-2 gap-4 m-5 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 lg:gap-8 lg:mx-10">
    @for(partner of this.mappedPartners | partnerFilter:'Institution' ; track partner.id ) {
        <div class="bg-white rounded-lg grid place-items-center h-32">
            <a [href]=partner.urlPartenaire>
                <img class="max-h-32 w-fit" src="{{ partner.logoPartenaire }}" alt="{{ partner.title }}">
            </a>
        </div>
    }
    </div>
    <!-- Partenaires privés -->
    <p class="font-title text-black text-3xl md:text-5xl uppercase font-extrabold text-center pb-2">ENTREPRISES</p>
    <div class="grid grid-cols-2 gap-4 m-5 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 lg:gap-8 lg:mx-10">
    @for(partner of this.mappedPartners | partnerFilter:'Entreprise' ; track partner.id ) {
        <div class="bg-white rounded-lg grid place-items-center h-32">
            <a [href]=partner.urlPartenaire>
                <img class="max-h-32 w-fit" src="{{ partner.logoPartenaire }}" alt="{{ partner.title }}">
            </a>
        </div>
    }
    </div>
    <!-- Partenaires médias -->
    <p class="font-title text-black text-3xl md:text-5xl uppercase font-extrabold text-center pb-2">MÉDIAS</p>
    <div class="grid grid-cols-2 gap-4 m-5 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 lg:gap-8 lg:mx-10">
    @for(partner of this.mappedPartners | partnerFilter:'Média' ; track partner.id ) {
        <div class="bg-white rounded-lg grid place-items-center h-32">
            <a [href]=partner.urlPartenaire>
                <img class="max-h-32 w-fit" src="{{ partner.logoPartenaire }}" alt="{{ partner.title }}">
            </a>
        </div>
    }
    </div>
</div>