<p class="font-title text-white text-6xl">INSTITUTIONS</p>
<div class="grid grid-cols-2 md:grid-cols-3 gap-4">
    <div>
        <a href="#">
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg" alt="">
        </a>
    </div>
    <div>
        <a href="#">
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg" alt="">
        </a>
    </div>
    <div>
        <a href="#">
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg" alt="">
        </a>
    </div>
    <div>
        <a href="#">
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-3.jpg" alt="">
        </a>
    </div>
    <div>
        <a href="#">
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-4.jpg" alt="">
        </a>
    </div>
</div>
<p class="font-title text-white text-6xl">ENTREPRISES</p>
<div class="grid grid-cols-2 md:grid-cols-3 gap-4">
    <div>
        <a href="#">
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg" alt="">
        </a>
    </div>
    <div>
        <a href="#">
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg" alt="">
        </a>
    </div>
    <div>
        <a href="#">
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg" alt="">
        </a>
    </div>
    <div>
        <a href="#">
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-3.jpg" alt="">
        </a>
    </div>
    <div>
        <a href="#">
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-4.jpg" alt="">
        </a>
    </div>
</div>
<p class="font-title text-white text-6xl">MEDIAS</p>
<div class="grid grid-cols-2 md:grid-cols-3 gap-4">
    <div>
        <a href="#">
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg" alt="">
        </a>
    </div>
    <div>
        <a href="#">
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg" alt="">
        </a>
    </div>
    <div>
        <a href="#">
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg" alt="">
        </a>
    </div>
    <div>
        <a href="#">
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-3.jpg" alt="">
        </a>
    </div>
    <div>
        <a href="#">
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-4.jpg" alt="">
        </a>
    </div>
</div>