<main>
    <div class="mx-20 my-10">
        <!-- Titre -->
        <h1 class="font-title text-black text-3xl md:text-5xl uppercase font-extrabold text-center pb-2">Informations</h1>
        <!-- zone texte -->
        @for(informationsSection of this.mappedInformationsSection ; track this.mappedInformationsSection ) {
            <h2 class="font-title text-3xl font-bold dark:text-white pt-2">{{ informationsSection.titre }}</h2>
            <p class="font-text text-base mb-3">{{ informationsSection.description }}
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
            @for(information of informationsSection.information ; track information ) {
                    <div class="max-w-md p-5 odd:bg-blue-100 even:bg-purple-100 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <h3 class="font-title text-2xl font-bold dark:text-white mb-3">{{ information.titre }}</h3> 
                        <p class="font-text text-base mb-3 styled-html" [innerHTML]="(information.description)"></p>
                    </div>
            }
        </div> 
        }
    </div>
</main>