<div id="drawer-confidentialite" class="fixed bottom-0 left-0 right-0 z-50 w-full p-2 md:p-4 overflow-y-auto transition-transform bg-slate-100 dark:bg-gray-800 translate-y-full max-h-[70vh]" tabindex="-1" aria-labelledby="drawer-confidentialite" role="dialog" aria-modal="true">
    <button type="button" data-drawer-hide="drawer-confidentialite" aria-controls="drawer-confidentialite" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 inline-flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white" aria-label="Fermer les mentions légales">
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
        </svg>
        <span class="sr-only">Close menu</span>
    </button>
    <div class="px-5 py-2 md:px-10 md:py-5">
        <h1 class="font-title text-black text-3xl md:text-5xl uppercase font-extrabold text-center pb-2">Politique de Confidentialité</h1>
        <h2 class="font-title text-3xl font-bold dark:text-white pt-2">1. Introduction</h2>
        <p class="font-text text-base">La société Live Events attache une grande importance à la protection de la vie privée de ses utilisateurs et s'engage à assurer la confidentialité des données personnelles collectées sur le site web Nation Sound (ci-après "le Site"). La présente politique de confidentialité décrit les types de données que nous collectons, la manière dont nous les utilisons, et les droits des utilisateurs concernant leurs informations personnelles.</p>       
        <h2 class="font-title text-3xl font-bold dark:text-white pt-2">2. Responsable du Traitement des Données</h2>
        <ul class="font-text text-base list-inside"> 
            <li>Dénomination sociale : Live Events</li>
            <li>Siège social : 42 rue de la musique 75000 Paris</li>
            <li>SIRET : 1234567890</li>
            <li>Directeur de publication : Tintin Dupondt</li>
            <li>Contact : contact&#64;nationsound.com</li>
        </ul>
        <h2 class="font-title text-3xl font-bold dark:text-white pt-2">3. Données Collectées</h2>
        <p class="font-text text-base">Lorsque vous utilisez le Site, nous pouvons collecter plusieurs types de données personnelles vous concernant, notamment :</p>
        <ul class="font-text text-base list-disc list-inside">
                <li>Données d'identification : Nom, prénom, adresse e-mail, numéro de téléphone.</li>
                <li>Données de connexion : Adresse IP, logs de connexion, informations relatives à la navigation (pages consultées, durée de visite).</li>
                <li>Données de localisation : Si vous autorisez la géolocalisation sur votre appareil.</li>
                <li>Données relatives à vos interactions : Messages envoyés via les formulaires de contact, inscriptions aux newsletters, participations à des concours ou sondages.</li>
            </ul>
        <h2 class="font-title text-3xl font-bold dark:text-white pt-2">4. Finalités du Traitement</h2>
        <p class="font-text text-base">Les données personnelles collectées sur le Site sont utilisées pour :</p>
        <ul class="font-text text-base list-disc list-inside">
            <li>Gérer votre participation au festival : Inscription, achat de billets, informations pratiques.</li>
            <li>Communiquer avec vous : Répondre à vos demandes, vous envoyer des confirmations, des rappels, ou des informations sur le festival.</li>
            <li>Personnaliser votre expérience : Adapter le contenu du Site en fonction de vos préférences et centres d'intérêt.</li>
            <li>Améliorer nos services : Analyser l'audience du Site, effectuer des sondages, et améliorer la qualité du Site et de nos services.</li>
            <li>Assurer la sécurité du Site : Prévenir les fraudes, protéger contre les menaces et assurer la sécurité des données.</li>
        </ul>
        <h2 class="font-title text-3xl font-bold dark:text-white pt-2">5. Base Légale du Traitement</h2>
        <p class="font-text text-base">Le traitement de vos données personnelles repose sur les bases légales suivantes : </p>
        <ul class="font-text text-base list-disc list-inside">
            <li>Consentement : Pour les données collectées via les formulaires de contact, inscription à la newsletter, et cookies.</li>
            <li>Exécution d'un contrat : Pour la gestion des inscriptions et l'achat de billets.</li>
            <li>Intérêt légitime : Pour l'amélioration de nos services et la sécurité du Site.</li>
            <li>Obligation légale : Pour répondre aux obligations légales et réglementaires.</li>
        </ul>
        <h2 class="font-title text-3xl font-bold dark:text-white pt-2">6. Durée de Conservation des Données</h2>
        <p class="font-text text-base">Les données personnelles sont conservées pour une durée limitée, en fonction de la finalité pour laquelle elles ont été collectées : </p>
        <ul class="font-text text-base list-disc list-inside">
            <li>Données d'inscription : Conservées pendant la durée nécessaire à la gestion de votre participation au festival et pendant la durée légale de conservation des documents comptables.</li>
            <li>Données de connexion : Conservées pendant 12 mois.</li>
            <li>Données de communication : Conservées pendant 3 ans à compter de votre dernière interaction avec nous.</li>
        </ul>
        <h2 class="font-title text-3xl font-bold dark:text-white pt-2">7. Partage des Données</h2>
        <p class="font-text text-base">Vos données personnelles peuvent être partagées avec :</p>
        <ul class="font-text text-base list-disc list-inside">
            <li>Prestataires de services : Pour l'hébergement du Site, le traitement des paiements, l'envoi d'e-mails, ou l'analyse des données. Ces prestataires sont tenus de respecter la confidentialité et la sécurité de vos données.</li>
            <li>Autorités légales : Si la loi l'exige, ou pour protéger nos droits, notre sécurité ou celle des utilisateurs du Site.</li>
        </ul>
        <h2 class="font-title text-3xl font-bold dark:text-white pt-2">8. Sécurité des Données</h2>
        <p class="font-text text-base">Live Events met en œuvre toutes les mesures techniques et organisationnelles nécessaires pour protéger vos données personnelles contre toute perte, accès non autorisé, altération, ou divulgation. Cependant, malgré ces efforts, aucun système de sécurité n'est infaillible.</p>
        <h2 class="font-title text-3xl font-bold dark:text-white pt-2">9. Vos Droits</h2>
        <p class="font-text text-base">Conformément au Règlement Général sur la Protection des Données (RGPD) et à la loi "Informatique et Libertés", vous disposez des droits suivants concernant vos données personnelles :</p>   
        <ul class="font-text text-base list-disc list-inside">
            <li>Droit d'accès : Vous pouvez obtenir une copie de vos données personnelles que nous détenons.</li>
            <li>Droit de rectification : Vous pouvez demander la correction de données inexactes ou incomplètes.</li>
            <li>Droit à l'effacement : Vous pouvez demander la suppression de vos données dans certaines circonstances.</li>
            <li>Droit à la limitation du traitement : Vous pouvez demander la limitation du traitement de vos données dans certaines conditions.</li>
            <li>Droit d'opposition : Vous pouvez vous opposer au traitement de vos données pour des motifs légitimes ou à des fins de prospection.</li>
            <li>Droit à la portabilité : Vous pouvez demander à recevoir vos données dans un format structuré et lisible par machine.</li>
        </ul>
        <p class="font-text text-base">Pour exercer vos droits, vous pouvez nous contacter à : contact&#64;nationsound.com.</p>
        <h2 class="font-title text-3xl font-bold dark:text-white pt-2">10. Modification de la Politique de Confidentialité</h2>
        <p class="font-text text-base">Live Events se réserve le droit de modifier la présente politique de confidentialité à tout moment. Nous vous invitons à consulter régulièrement cette page pour prendre connaissance des éventuelles modifications.</p>
        <h2 class="font-title text-3xl font-bold dark:text-white pt-2">11. Contact</h2>
        <p class="font-text text-base">Pour toute question ou demande relative à cette politique de confidentialité ou à la manière dont nous traitons vos données personnelles, vous pouvez nous contacter à :</p>
        <ul class="font-text text-base list-disc list-inside mb-3">
            <li>Adresse e-mail : contact&#64;nationsound.com</li>
            <li>Adresse postale : 42 rue de la musique 75000 Paris</li>
        </ul>
        <hr class="border-t border-gray-500 my-3">
        <p class="font-text text-base">Date de la dernière mise à jour : 23/08/2024</p>
    </div>
</div>