<div id="drawer-mentions" class="fixed bottom-0 left-0 right-0 z-40 w-full p-2 md:p-4 overflow-y-auto transition-transform bg-slate-100 dark:bg-gray-800 translate-y-full max-h-[70vh]" tabindex="-1" aria-labelledby="drawer-mentions">
    <button type="button" data-drawer-hide="drawer-mentions" aria-controls="drawer-mentions" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 inline-flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white" >
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
        </svg>
        <span class="sr-only">Close menu</span>
    </button>
    <div class="px-5 py-2 md:px-10 md:py-5">
        <h1 class="font-title text-black text-3xl md:text-5xl uppercase font-extrabold text-center pb-2">Mentions Légales</h1>
        <h2 class="font-title text-3xl font-bold dark:text-white pt-2">1. Éditeur du Site</h2>
        <p class="font-text text-base">Le site web Nation Sound (ci-après "le Site") est édité par la société Live Events, société d'événements spécialisée dans l'organisation de festivals et autres manifestations culturelles.</p>
        <ul class="font-text text-base list-inside">
            <li>Dénomination sociale : Live Events</li>
            <li>Siège social : 42 rue de la musique 75000 Paris</li>
            <li>SIRET : 1234567890</li>
            <li>Directeur de publication : Tintin Dupondt</li>
            <li>Contact : contact&#64;nationsound.com</li>
        </ul>
        <h2 class="font-title text-3xl font-bold dark:text-white pt-2">2. Développement et Conception du Site</h2>
        <p class="font-text text-base">Le Site a été conçu et développé par Jean-marie Carré , spécialiste en création de sites web responsives.</p>
        <p>Contact : jmj.carre&#64;gmail.com</p>
        <h2 class="font-title text-3xl font-bold dark:text-white pt-2">3. Propriété Intellectuelle</h2>
        <p class="font-text text-base">L'ensemble des éléments graphiques, textes, illustrations, images, vidéos, sons, ainsi que tous les autres éléments présents sur le Site sont protégés par les lois relatives à la propriété intellectuelle. Toute reproduction, représentation, modification, publication, transmission, dénaturation, totale ou partielle du Site ou de son contenu, par quelque procédé que ce soit, sans l'autorisation expresse de Live Events, est interdite.</p>
        <h2 class="font-title text-3xl font-bold dark:text-white pt-2">4. Responsabilité</h2>
        <p class="font-text text-base">Live Events s'efforce d'assurer au mieux l'exactitude et la mise à jour des informations diffusées sur le Site. Toutefois, Live Events ne saurait être tenu pour responsable des erreurs ou omissions des informations accessibles sur le Site, ainsi que des dommages, directs ou indirects, qui pourraient résulter de l'accès ou de l'utilisation du Site.</p>
        <p class="font-text text-base">Le Site Nation Sound a pour objectif d’informer les visiteurs et spectateurs du festival sur les divers aspects de l’événement, avant et durant leur séjour sur les lieux. Cependant, Live Events ne garantit pas la disponibilité continue du Site et se réserve le droit de le modifier à tout moment sans préavis.</p>
        <h2 class="font-title text-3xl font-bold dark:text-white pt-2">5. Données Personnelles</h2>
        <p class="font-text text-base">Live Events s'engage à ce que la collecte et le traitement des données personnelles, effectués à partir du Site, soient conformes à la législation en vigueur. Les informations recueillies à travers les formulaires présents sur le Site sont destinées à des fins internes de gestion et ne seront en aucun cas cédées à des tiers sans consentement préalable de l'utilisateur.</p>
        <p class="font-text text-base">Conformément à la loi "Informatique et Libertés" du 6 janvier 1978 modifiée et au Règlement Général sur la Protection des Données (RGPD), vous disposez d'un droit d'accès, de rectification, de suppression et d'opposition aux données personnelles vous concernant. Pour exercer ces droits, veuillez contacter : contact&#64;nationsound.com.</p>
        <h2 class="font-title text-3xl font-bold dark:text-white pt-2">6. Liens Hypertextes</h2>
        <p class="font-text text-base">Le Site peut contenir des liens hypertextes vers d'autres sites internet. Live Events décline toute responsabilité quant au contenu de ces sites externes. L'insertion de ces liens ne signifie pas que Live Events approuve les informations contenues sur ces sites.</p>
        <h2 class="font-title text-3xl font-bold dark:text-white pt-2">7. Modification des Mentions Légales</h2>
        <p class="font-text text-base">Live Events se réserve le droit de modifier à tout moment les présentes mentions légales. L'utilisateur est donc invité à les consulter régulièrement.</p>
        <h2 class="font-title text-3xl font-bold dark:text-white pt-2">8. Loi Applicable</h2>
        <p class="font-text text-base">Les présentes mentions légales sont régies par la loi française. En cas de litige, et après échec de toute tentative de recherche d'une solution amiable, les tribunaux français seront seuls compétents pour connaître de ce litige.</p>
        <hr class="border-t border-gray-500 my-3">
        <p class="font-text text-base">Date de la dernière mise à jour : 23/08/2024</p>
    </div>
</div>