<main>
  @if(loading$ | async) {
    <div class="grid min-h-[140px] w-full place-items-center overflow-x-scroll rounded-lg p-6 lg:overflow-visible">
      <div class="flex items-end gap-8">
        <svg class="w-12 h-12 text-gray-300 animate-spin" viewBox="0 0 64 64" fill="none"
          xmlns="http://www.w3.org/2000/svg" width="24" height="24">
          <path
            d="M32 3C35.8083 3 39.5794 3.75011 43.0978 5.20749C46.6163 6.66488 49.8132 8.80101 52.5061 11.4939C55.199 14.1868 57.3351 17.3837 58.7925 20.9022C60.2499 24.4206 61 28.1917 61 32C61 35.8083 60.2499 39.5794 58.7925 43.0978C57.3351 46.6163 55.199 49.8132 52.5061 52.5061C49.8132 55.199 46.6163 57.3351 43.0978 58.7925C39.5794 60.2499 35.8083 61 32 61C28.1917 61 24.4206 60.2499 20.9022 58.7925C17.3837 57.3351 14.1868 55.199 11.4939 52.5061C8.801 49.8132 6.66487 46.6163 5.20749 43.0978C3.7501 39.5794 3 35.8083 3 32C3 28.1917 3.75011 24.4206 5.2075 20.9022C6.66489 17.3837 8.80101 14.1868 11.4939 11.4939C14.1868 8.80099 17.3838 6.66487 20.9022 5.20749C24.4206 3.7501 28.1917 3 32 3L32 3Z"
            stroke="currentColor" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"></path>
          <path
            d="M32 3C36.5778 3 41.0906 4.08374 45.1692 6.16256C49.2477 8.24138 52.7762 11.2562 55.466 14.9605C58.1558 18.6647 59.9304 22.9531 60.6448 27.4748C61.3591 31.9965 60.9928 36.6232 59.5759 40.9762"
            stroke="currentColor" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" class="text-gray-900">
          </path>
        </svg>
      </div>
    </div>
  } @else if (error$ | async) {
    <div class="flex">
      <div class="font-title text-black text-3xl text-center place-content-center w-full h-96 font-semibold pb-2">
        <p>Veuillez recharger la page</p>
      </div>
    </div>
  } @else { 
    <div class="mx-6 my-5 md:mx-20 md:my-10">
      <h1 class="font-title text-black text-2xl sm:text-3xl md:text-5xl uppercase font-extrabold text-center pb-2">Programmation</h1>
      <div class="border border-black w-full min-w-52">
        <h2 class="font-title text-black text-center text-lg uppercase">filtres</h2>
        <div class="flex flex-col md:flex-row justify-around my-3 mx-5"> 
          <!-- location filter -->
          <div>
            <h3 class="font-title">Lieux</h3>
            @for(filter of locationFilters | sortBy:'name' ; track filter.id) {
              <div>
                <input type="checkbox" 
                  [id]="filter.name" 
                  [checked]="filter.isChecked"
                  (change)="onLocationFilterChange(filter)" />
                <label class="mx-2 font-text" [for]="filter.name">{{filter.name}}</label>
              </div>
            }
          </div>
          <!-- event filter -->
          <div>
            <h3 class="font-title">Événements</h3>
            @for(filter of eventFilters | sortBy:'name' ; track filter.id) {
              <div>
                <input type="checkbox" 
                  [id]="filter.name" 
                  [checked]="filter.isChecked"
                  (change)="onEventFilterChange(filter)" />
                <label class="mx-2 font-text" [for]="filter.name">{{filter.name}}</label>
              </div>
            }
          </div>
            <!-- date filter -->
          <div>
            <h3 class="font-title">Dates</h3>
            @for(filter of dateFilters | sortBy:'name' ; track filter.id) {
              <div>
                <input type="checkbox" 
                      [id]="filter.name" 
                      [checked]="filter.isChecked"
                      (change)="onDateFilterChange(filter)" />
                <label class="mx-2 font-text" [for]="filter.name">
                  <!-- {{filter.name | date:'dd/MM/yyyy'}} -->
                  {{filter.name}}
                </label>
              </div>
            }
          </div>
          <!-- time filter -->
          <div>
            <h3 class="font-title">Horaires</h3>
            <div class="flex gap-3 font-text">
              <label for="timeStart" class="mt-1 w-7">De : </label>
              <select id="timeStart" (change)="onTimeStartChange($event)" [value]="timeFiltersStart || ''" class="p-1 w-36">
                <option value="">- indifférent -</option>
                @for(filter of timeFilters | sortBy:'name'; track filter.id) {
                  <option [value]="filter.name" [selected]="timeFiltersStart === filter.name">{{filter.name}}</option>
                }
              </select>
            </div>
            <div class="flex gap-3 mt-2 font-text">
              <label for="timeEnd" class="mt-1 w-7">A : </label>
              <select id="timeEnd" (change)="onTimeEndChange($event)" [value]="timeFiltersEnd || ''" class="p-1 w-36">
                <option value="">- indifférent -</option>
                @for(filter of timeFinalFilters | sortBy:'name'; track filter.id) {
                  <option [value]="filter.name" [selected]="timeFiltersEnd === filter.name">{{filter.name}}</option>
              }
              </select>
            </div>
            @if (errorMessage){
              <div  class="text-red-600">
                {{ errorMessage }}
              </div>
            }
          </div>
        </div>
      </div>
  
    <!-- artists grids -->
    <div class="relative grid grid-cols-1 gap-2 m-1 mt-3 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 justify-items-center">
      @for(program of (filteredPrograms$ | async ); track program.id) {
        @defer (on viewport) {
          <a [routerLink]="['/artist', program.artist.id]">
            <div class=" flex flex-col bg-white rounded-lg border border-gray-200 shadow transition-all duration-300 grayscale hover:grayscale-0 hover:bg-amber-100">
              <div class="overflow flex justify-center items-center">
                <img class="w-full h-full object-cover rounded-t-lg" src="{{ program.artist.thumbnail }}" alt="{{ program.artist.name }}" />
              </div>
              <div class="text-left px-2">
                <h4 class="font-text font-semibold text-gray-700">{{ program.type.type }}</h4>
                @if (program.artist.name.length>20){
                  <h5 class="font-text text-lg leading-tight font-bold tracking-tight text-gray-900">{{ program.artist.name }}</h5>
                } @else {
                  <h5 class="font-text text-xl font-bold tracking-tight text-gray-900">{{ program.artist.name }}</h5>
                }
                <p class="font-text text-base text-gray-700">{{program.date.date | date:'dd/MM/yyyy'}}</p>
                <p class="font-text text-base text-gray-700">{{program.heure_debut | date:'HH:mm'}} - {{program.heure_fin | date:'HH:mm'}}</p>
                <p class="font-text text-base text-gray-700">{{program.eventLocation.locationName}}</p>
              </div>
            </div>
          </a>
        } 
        @placeholder {
          <div class="w-full h-64 bg-gray-200 animate-pulse rounded-lg"></div>
        }
      }
    </div>
  </div>
  }
</main>