<div class="mx-20 my-10">
  <h1 class="font-title text-black text-3xl md:text-5xl uppercase font-extrabold text-center pb-2">Programmation</h1>
  <div class="border border-black">
    <!-- zone de filtres -->
    <h2 class="font-title text-black text-center text-lg uppercase">filtres</h2> 
    <div class="flex flex-col md:flex-row justify-around my-3 mx-5"> 
      <!-- filtre des lieux -->
      <div>
        <h3 class="font-title">Lieux</h3>
        @for(filter of locationFilters | sortBy:'name' ; track filter.id) {
        <div>
          <input type="checkbox" id="{{filter.name}}" (change)="locationChanged(filter.name)" />
          <label class="mx-2 font-text" for="{{filter.name}}">{{filter.name}}</label>
        </div>
        }
      </div>
      <!-- filtre des événements -->
      <div>
        <h3 class="font-title">Événements</h3>
        @for(filter of eventFilters | sortBy:'name' ; track filter.id) {
        <div>
          <input type="checkbox" id="{{filter.name}}" (change)="eventChanged(filter.name)" />
          <label class="mx-2 font-text" for="{{filter.name}}">{{filter.name}}</label>
        </div>
        }
      </div>
      <!-- Filtre des dates -->
      <div>
        <h3 class="font-title">Dates</h3>
        @for(filter of dateFilters | sortBy:'name' ; track filter.id) {
        <div>
          <input type="checkbox" id="{{filter.name}}" (change)="dateChanged(filter.name)" />
          <label class="mx-2 font-text" for="{{filter.name}}">{{filter.name}}</label>
        </div>
        }
      </div>
      <!-- filtre des horaires -->
      <div>
        <h3 class="font-title">Horaires</h3>
        <div class="flex gap-3 font-text">
          <label for="timeStart" class="mt-1 w-7">De : </label>
          <select id="timeStart" (change)="onTimeStartChange($event)" class="p-1 w-36">
            <option value="">- indifférent -</option>
            @for(filter of timeFilters | sortBy:'name'; track filter.id) {
              <option [value]="filter.name">{{filter.name}}</option>
          }
          </select>
        </div>
        <div class="flex gap-3 mt-2 font-text">
          <label for="timeEnd" class="mt-1 w-7">A : </label>
          <select id="timeEnd" (change)="onTimeEndChange($event)" class="p-1 w-36">
            <option value="">- indifférent -</option>
            @for(filter of timeFinalFilters | sortBy:'name'; track filter.id) {
              <option [value]="filter.name">{{filter.name}}</option>
          }
          </select>
        </div>
        @if (errorMessage){
          <div  class="text-red-600">
            {{ errorMessage }}
          </div>
        }
      </div>
    </div>
  </div>
  <!-- grilles des artistes  -->
  <div class="relative grid grid-cols-1 gap-5 m-5 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 lg:gap-8 lg:mx-10 justify-items-center">
      @for(artist of filteredArtists$ | async | sortBy :'name'| sortBy :'date'; track artist.id) {
          <div class="relative max-h-96 max-w-60 flex flex-col bg-slate-200 rounded-lg border border-gray-200 shadow transition-all duration-300 grayscale hover:grayscale-0 hover:bg-amber-100">
            <!-- image du groupe   -->
            <img class="rounded-t-lg" src="{{ artist.photo_artiste }}" alt="{{ artist.name }}" />   
              <!-- informations sur l'artiste -->           
              <figcaption class="mb-3 ml-3">
                  <!-- si le nom de l'artiste est trop long, on affiche une taille de police plus petite -->
                  @if(artist.name.length>20){
                  <h5 class="font-text text-lg leading-tight font-bold tracking-tight text-gray-900 dark:text-white">{{ artist.name }}</h5>
                  } @else {
                  <h5 class="font-text text-xl font-bold tracking-tight text-gray-900 dark:text-white">{{ artist.name }}</h5>
                  }
                  <p class="font-text font-normal text-gray-700 dark:text-gray-400">{{ artist.date }}</p>
                  <p class="font-text font-normal text-gray-700 dark:text-gray-400">{{ artist.type_evenement }} : {{ artist.heure_debut }} - {{ artist.heure_fin }} </p>
                  @if(artist.scene){
                  <p class="font-text font-normal text-gray-700 dark:text-gray-400">Scène {{ artist.scene }}</p>
                  } @else 
                  {
                  <p class="font-text font-normal text-gray-700 dark:text-gray-400"> {{ artist.lieu_rencontre }}</p>
                  }
              </figcaption>                
      </div>
      }
  </div> 
</div>